# deployer key
DEPLOYER_PRIVATE_KEY=0x

# rpc url
NOVA_RPC_URL=https://nova-squids.gemini-3h.subspace.network/ws

# explorer api url
NOVA_VERIFIER_URL=https://nova.subspace.network/api?
ETHSEPOLIA_VERIFIER_URL=https://eth-sepolia.blockscout.com/api?

# LZ Endpoints
NOVA_ENDPOINT_V2_ID=490000
NOVA_ENDPOINT_V2=0x302Bfc9057f7762fe47C6Deb846aD777E8f87E26
SEPOLIA_ENDPOINT_V2_ID=40161
SEPOLIA_ENDPOINT_V2=0x990C2BE6e586cc8D58A80923bbA2b2fDD0724C80